<div id="main">
	<h1>{{title}}</h1>
	<p>Welcome to {{title}}</p>
	<button></button><br>
	{{!-- <button>Turn on registration</button>
	<button>Turn off registration</button>
	<button>Declare Results</button> --}}
	<h5>Registration link</h5>
	<label class="switch">
		<input type="checkbox" onclick="if(this.checked){toffreg()} else {tonreg()}" >
		<span class="slider round"></span>
	</label>
</div>
