body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #00B7FF;
}

 #main{
 	width: 50%;
 	height: inherit;
 	margin: 5% auto;
 	background-color: #343a40;
 	color: white;
 	padding: 2%;
 	text-align: center;
 }

 footer{
 	width: 100%;
 	height: inherit;
 	padding: 2%;
 	background-color: #343a40;
 	text-align: center;
 	color: white;
 	font-size: 20px;
 }
 .fa{
 	margin: 4px;
 	color: white;
 }
 .fa:hover{
 	color: #7300ab;
 }
 .navIcons{
 	margin: 4px;
 }